<!DOCTYPE html>
<html>
<head>
    <title>Label Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Myfont/css/button.css') }}">
</head>
<body>
    <div class="container">
        <center><label for="name">SCEGLI LA COMBO</label><center>
        <br>
        <center><img src="{{ user_image }}" ><center>
        <br>
        <select id="Sceglicombo">
             <option value="10">Carezza (combo 1-10)</option>
             <option value="15">Saluto (combo 1-15)</option>
             <option value="20">Normale (combo 1-20)</option>
             <option value="25">Sparing (combo 1-25)</option>
             <option value="30">Brutal (combo 1-30)</option>
             <option value="50">Distruzione (combo 1-50)</option>
             <option value="330">Quindi (combo 233-330)</option>
        </select>
        <br>
        <br>
        <center><button id="Bottone">Crea combo</button><center>
    </div>
</body>
</html>